<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-4">Welcome to BuyTogether!</h1>
    <h1 class="subtitle is-6">你可以在 <code>pages/homepage.html.erb</code> 找到這個頁面。</h1>
  </div>
</section>
