<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <div class="footer-title">Buy Together</div>
      </div>
      <div class="column is-2">
        <ul class="footer-list">
          <li>歷史紀錄</li>
          <li>最近一星期</li>
          <li>最近一個月</li>
        </ul>
      </div>
      <div class="column is-2">
        <ul class="footer-list">
          <li>店家資訊</li>
          <li>新增店家</li>
          <li>店家一覽</li>
        </ul>
      </div>
      <div class="column is-2">
        <ul class="footer-list">
          <li>提案</li>
          <li>提案須知</li>
          <li>發起提案</li>
        </ul>
      </div>
      <div class="column is-2">
        <ul class="footer-list">
          <li>帳戶管理</li>
          <li>更新個人資訊</li>
        </ul>
      </div>
      <div class="column is-2">
        <ul class="footer-list">
          <li>聯絡我們</li>
          <li>Facebook</li>
          <li>Email</li>
          <li>Instagram</li>
        </ul>
      </div>
    </div>

    <p>
      © Copyright 2017 CodingAlpaca All Right Reserved
    </p>
  </div>
</footer>
