<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">

      <!-- todo: 加上連結 -->
      <a class="nav-item">
        <%= image_tag 'logo', alt: 'Buy Together Logo' %>
      </a>

    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">

      <!--  todo: 加上連結 -->
      <a class="nav-item is-tab is-active">店家資訊</a>
      <a class="nav-item is-tab">提議</a>
      <a class="nav-item is-tab">歷史資訊</a>
      <a class="nav-item is-tab">帳戶管理</a>

    </div>
  </div>
</nav>
